@use "global" as *;
.article__date--inner {
  // font
  font-family: "Noto Sans JP", sans-serif;
  font-size: rem(16);
  font-weight: $normal;
  // letter-spacing: rem(1);
  line-height: 1.4375;
  // decoration
  color: #fff;
  @include mq(md) {
  }
  @include mq(xl) {
  }
}
